<%= stylesheet_link_tag 'show', :media => "all" %>


<div class="post">
  <div class="title">
  <b><%= @post.title %></b>
  </div>
  <div class="image">
  <% if @post.image.present? %>
    <%= image_tag @post.image_url, size: "500x400" %>
  <% else %>
    <%= image_tag "noimage.jpeg", size: "500x400" %>
  <% end %>
  </div>
  <div class="contents">
  <%if @post.contents.nil? %>  
    <%=@post.contents%>
  <% else %>
    <%=safe_join(@post.contents.split("\n"),tag(:br))%>
  <% end %>
  </div>
  <p><%= @post.created_at.to_s(:datetime_jp) %></p>

  <% if @post.type == "大阪" || @post.type == "京都" %>
    <%= @post.type %>府
  <% elsif @post.type == "東京" %>
    <%= @post.type %>都
  <% else %>
    <%= @post.type %>県
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.already_liked?(@post) %>
      <%= link_to post_like_path(@post), method: :delete do %>
        <i class="fas fa-heart"></i><%= @post.likes.count %>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(@post), method: :post do %>
        <i class="far fa-heart"></i><%= @post.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <i class="far fa-heart"></i><%= @post.likes.count %>
  <% end %>

</div>

<% if @post.address.present? %>

<%#= 追加　mapが表示される部分 %>
<div id="map"></div>

<%#= 追加　<div id="map"></div>の大きさを定義 400px×400px 〇〇.scssに書いても良い。 %>
<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>

  <%#= 追加　mapを実際に表示させる関数をまとめた部分、バックエンドのためユーザーからは見れない。%>
<script>
  let map

  // mapの表示関数 
  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById("map"), {
      center: {
        //@postにlatitude,longitudeの情報が入っている。@postは自分のコントローラーに合うように適宜変更すること。
        lat: <%= @post.latitude %> ,
        lng: <%= @post.longitude %>
      },
      zoom: 15,
    });

    (function () {
      var contentString = "住所：<%= @post.address %>";

      var marker = new google.maps.Marker({
        //@postにlatitude,longitudeの情報が入っている。@postは自分のコントローラーに合うように適宜変更すること。
        position: {
          lat: <%= @post.latitude %>,
          lng: <%= @post.longitude %>
        },
        map: map,
        title: contentString
      });

    })();
  }
</script>
<%#= .envファイルに書かれているAPIキーを呼び出す部分。%>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <a href="/users/<%= c.user.id %>"><%= c.user.email unless c.user.blank? %></a>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "リスト一覧に戻る", posts_path %>
<% if user_signed_in? && current_user.id == @post.user_id %>  
  <%= link_to "編集する", edit_post_path(@post.id) %>
  <%= link_to "削除する", post_path(@post.id), method: :delete %>
<% end %> 